@import 'tailwindcss';

@theme {
  --color-lime: #ccff00;
  --color-purple: #9c73f7;
  --color-gray-dark: #595959;
  --color-gray-light: #8c8c8c;
  --color-error: #ff0000;
}

body {
  background-color: #000000;
  color: #ffffff;
}
